* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    background-color: #ecfdf5
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    background-color: #d1fae5;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

.main {
    display: grid;
    grid-template-rows: 1fr 10fr;
    ;
}

.buttonarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    height: 80%;
    width: 10%;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}


.window {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: white;
    padding: 50px;
    padding-top: 25px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

form div{
    padding: 5px;
}

form #save {
    margin-top: 25px;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
}

input[type="text"], input[type="number"] {
    background-color: #f1f5f9;
    border-radius: 10px;
    height: 25px;
    padding-left: 10px;
  }

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 20%;
    height: 30%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d1fae5;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);

}

.card div {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 20%;
}

.card .title {
    font-weight: bolder;
    font-size: larger;
}

.card > div > button {
    height: 80%;
    width: 25%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #fee2e2;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end
}
