* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
}
div {
    border: 1px solid black;
}

.header {
    display: grid;
    grid-column: 1/5;
    grid-template-columns: 3fr 5fr 1fr 1fr 2fr;
}

.sidebar {
    display: grid;
    grid-row: 2 / 6;
    gap: 20px;
}

.intro {
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: 5fr 4fr;
    grid-row: 2;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 6;
}
.cards {
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr;
}

.announcements {
    display: grid;
    grid-row: 3 / 5;
}
