

* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: 1fr 1.5fr 3fr 3fr 3fr 1fr;
}
div {
    border: 1px solid black;
}

.header {
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: 3fr 5fr 1fr 1fr 2fr;
}

.sidebar {
    display: grid;
    grid-row: 1 / 7;
    grid-column: 1;
    grid-template-rows: 1.5fr 2fr 1fr 3fr 5fr;
    background-color: #3b82f6;
}

.sidecontainer {
    display: grid;
}

.sidebutton {
    height: 40px;
}

.intro {
    display: grid;
    grid-column: 2 / 5;
    grid-template-columns: 5fr 4fr;
    grid-row: 2;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 6;
    grid-template-rows: 1fr 20fr;
    background-color: #bae6fd;
    padding: 10px;

}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: white;
}
.announcements {
    display: grid;
    grid-row: 3 / 4;
    grid-column: 4;
    grid-template-rows: 1fr 3fr 3fr 3fr;
}

.trending {
    grid-column: 4;
    grid-row: 4 / 6;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
}
