@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

*{
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;

}
html {
  /* background: linear-gradient(to bottom right, #FFFFFF 5%, #FFEBCD) */
}

.navbar {
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  font-family: chewy;
  font-weight: normal;
  font-size: larger;
  height: 100%;
  background: linear-gradient(to bottom,white 1%, bisque 85%, white);
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  display: flex;
  justify-content: center;
  height: 10vh;
  width: auto;
  border-radius: 100%;
  margin: 10px;
}

.main {
  height: 75vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.main img {
  position: relative;
  width: 100%;
  background-position: center;
  background-size: cover;

}

.menu {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0
  /* background: linear-gradient(to bottom left, #FFFFFF 5%, #fff5e7); */
}

.menu-title {
  margin: 10px;
}

.card__border {
  height: 40%;
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.card__border img {
  height: 100%;
  width: 100%;

}
.flavour-container {
  height: 60vh
}

.flavour-container .img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.cards {
  max-width: 1200px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.flavours {
  height: 90%;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}



.flavours img {
  width: 150%; /* Adjust the width to your preference */
  height: 150%; /* Adjust the height to your preference */
}
.flavour-container .card__border {
  width: 40%;
  height: 20%;
  flex-direction: row;
  gap: 15px;
  justify-content: left;
  align-items: center;
}
.footer {
  height: 5vh;
}
